h1{
  margin: 30px;
}
  
  main {
    display: grid;
    flex-wrap: wrap;
    margin: 2em;
  }
  
  .blog-post {
    background-color: transparent;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
    margin: 1em;
    padding: 1em;
    width: 18 40 60em;
  }
  
  .blog-post h2 {
    margin-top: 0;
  }
  
  .blog-post p {
    margin-bottom: 0;
  }