/* Importing Google font - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("../images/pexels-simon-berger-3290613.jpg");
  
  background-size: cover;
  background-color: black;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  backdrop-filter: blur();
  transition: backdrop-filter 0.2s ease;
}

header.scroll-blur {
  backdrop-filter: blur(10px);
}

/* ... rest of your CSS code ... */

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}
h3{
  align-items: center;
  text-align: center;
}
p{
  padding: 30px;
}

.text-box{
  width: 50%;
  margin-left: 300px;
  margin-bottom: 150px;
}

ul li button {
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

ul li button:hover, ul li button:focus {
  color: #fff;
  background: #C06B3E;
}
div a button{
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

div a button:hover, div a button:focus {
  color: #fff;
  background: #C06B3E;
}
div button{
  margin-bottom: 50px;
  margin-left: 20px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

div button:hover, div button:focus {
  color: #fff;
  background: #C06B3E;
}

#bx bx-plug{
  color: white;
}

.list-group{
  margin-left: 20px;
  list-style-type: none;
}

div img{
  padding: 40px;
}

div p{
  
  font-size: 14px;
  font-weight: 400;
  justify-content: left;
}

div h2, p, a{

  padding: 10px;

}

main div p{
  font-size: 0.5 2 3rem;
}

ul li{
  padding-left: 20px;
}

video{
  padding: 20px;
  
}

.testimonial-card{
  padding-right: 50px;
  width: 60%;
}

.profile{
  height: 350px;
  width: 400px;
}


/*fade in*/
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}






/*footer links*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-links {
  margin-bottom: 20px;
}

.social-link {
  color: #fff;
  font-size: 40px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.social-link:hover, .social-link:focus {
  transform: translateY(-5px);
  color: #C06B3E;
}

.testimonials{
  font-size: 3 4 5rem;
}

/*footer links*/





/* .logo{
  height: 40px;
  width: 50px;
} */

nav a img{
  height: 80px;
  width: 100px;
  margin: 0;
  padding: 0;
}

.navbar .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}

.navbar .logo span {
  color: #C06B3E;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #C06B3E;
}

.hero-section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.hero-section .content h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

.hero-section .content button {
  color: #C06B3E;
  background: transparent;
  padding: 12px 30px;
  border: none;
  font-size: 2rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.hero-section .content button:hover {
  color: #fff;
  background: #C06B3E;
}

#close-menu-btn {
  color: black;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

    
  #hamburger-btn, #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content {
    text-align: center;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .hero-section .content button {
    padding: 9px 18px;
  }
  body{
    backdrop-filter: blur(5px);
  }
}

/*P*/
